.menu{
    margin:100px auto auto;
    width: 50vw;
}
.menu a{
    text-decoration: none;
    color: black;
}
@media (max-width: 1200px) {
    .menu{
        width: 100vw;
    }
}
img{
    width: 30px;
}
.logout{
    background-color: rgba(206, 206, 206, 0.349);
}