.tete{
    width: 100vw;
}
.photoDeCouverture{
    width: 100vw;
    height: 40vh;
}
.modifierCouverture{
    color: rgb(255, 255, 255);
    position:absolute;
    right: 0;
    top:56vh;
}
.photoDeProfil{
    width: 200px;
    height: 200px;
    border-radius: 40vw;
    border: bisque solid 2px;
    position:absolute;
    left: 41vw;
    top:30vh;
}
.modifierProfil{
    color: rgb(255, 255, 255);
    position:absolute;
    left: 49vw;
    top:54vh;
}
.nom{
    color: rgb(41, 41, 41);
}