.sing{
    display: flex;
}
.sing-espace{
    flex: 1;
    align-items: center;
}
.singin,.singup{
    margin-top:100px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(248, 248, 248, 0.289);
    padding: 10px 20px;
    border-radius: 15px;
    transition: 3s;
    margin-right: 20px;
}
.singup:hover, .singin:hover{
    background-color: whitesmoke;
}