.nouveau{
    color: black;
    font-weight:bold;
}
.nouveaumessage{
    width: 50%;
}
.envoyer{
    padding: 10px 20px;
}
.vous{
    padding:15px 50px;
    border-radius:2vw;
    margin-left:40vw;
    color:black;
    background-color:#2a561b8c;
    width:50vw;
}
.lui{
    padding:15px 50px;
    border-radius:2vw;
    color:black;
    width:60vw;
    background-color:#0000007d;
}
.message{
    margin-top:100px ;
}
.messageList{
    width: 100vw;
    margin: auto;
}

@media (min-width: 1200px) {
    .messageList{
        width: 60vw;
    }
}
.mb-1{
    font-size: 14px;
}
.date{
    font-size: 10px;
}

img{
    width: 30px;
}